<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<h1> welcome to notes </h1>

<table  class="table table-striped">

    <tr>  
        <th>TITLE</th>
        <th>NOTE</th>
        <th>delete</th>

    </tr>
    


<% data.forEach(function(note){  %>
  <tr>
    <td><%= note.title %></td>
    
    <td><%= note.note %></td>
    <td><a href="notes/delete/<%=note.title%>">delete</a>   </td>
  </tr>


<% }) %>
</table>

<br>
<form action="/notes" method="post">
title : <input type="text" name="title" ><br>
decription:  <input type="text" name="note" ><br>
<button type="submit">add</button>
</form>

<br>